.nav-menu {
    display: flex;
    padding: 16px;


    a{
        text-decoration: none;
        &:focus,&:hover{
           color:blue;
        }
    }

    .logo{
        font-size: 24px;
    }

    ul{
        margin: 0;
        margin-left: auto;

        li{
            display: inline-block;
            margin: 5px 15px;
            cursor: pointer;
        }
    }
}